main {
  width: 70%;
  margin: 0 auto;
  background: $color4;
  @media screen and (max-width: 1150px) {
    width: 90%;
  }
}
button {
  @include button;
  margin: 50px auto 100px;
  @media screen and (max-width: 1150px) {
    margin: 25px auto;
  }
}
.section-1 {
  width: 80%;
  margin: 0px auto 100px;
}
.s1-text {
  width: 70%;
  margin: 0 auto;
  text-align: center;
  @media screen and (max-width: 450px) {
    width: 90%;
  }
  p {
    font-size: 1.2rem;
    @media screen and (max-width: 450px) {
      font-size: 1rem;
    }
  }
  h4 {
    &:before {
      content: "";
      width: 20vw;
      height: 3px;
      background: rgba(221, 220, 220, 0.76);
      position: absolute;
      right: -30px;
      top: 115px;
      transform: translateX(100%);
      @media screen and (max-width: 950px) {
        top: 110px;
      }
    }
    &:after {
      content: "";
      width: 20vw;
      height: 3px;
      background: rgba(221, 220, 220, 0.76);
      position: absolute;
      left: -30px;
      top: 115px;
      transform: translateX(-100%);
      @media screen and (max-width: 950px) {
        top: 110px;
      }
    }
  }
}
.img-1 {
  img {
    width: 100%;
  }
}

.section-2 {
  @include center;
  border-top: 1px solid rgb(190, 189, 189);

  @media screen and (max-width: 1350px) {
    display: block;
    padding: 0 0 50px;
  }
}

.article {
  width: 100%;

  &:first-child {
    border-right: 1px solid rgb(190, 189, 189);
  }
  div {
    width: 100%;
    margin: 0 auto;
    p {
      text-align: left;
      width: 80%;
      margin: 50px auto;
      font-style: normal;
      font-size: 1.1rem;
    }
  }
}
.img-2-left {
  img {
    width: 90%;
    margin: 0 auto;
    display: block;
  }
}
.img-2-right {
  img {
    width: 90%;
    margin: 0 auto;
    display: block;
  }
}
